title #{title} &middot; #{process.env.APP_NAME}

meta(charset="utf-8")
meta(name="author" content=process.env.APP_OWNER)
meta(name="description" content=process.env.APP_NAME)
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="csrf-token", content=csrfToken)

link(rel="stylesheet", type="text/css", href="https://use.fontawesome.com/releases/v5.4.1/css/all.css")
link(rel="stylesheet", type="text/css", href="/css/app.css")

link(rel="icon", type="image/png", href="/img/logos/icon.png")